@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?m9rcos');
    src:  url('../fonts/icomoon.eot?m9rcos#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?m9rcos') format('truetype'),
      url('../fonts/icomoon.woff?m9rcos') format('woff'),
      url('../fonts/icomoon.svg?m9rcos#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-github:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-twitter:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\e903";
  }
  .icon-brand:before {
    content: "\e903";
  }
  .icon-social:before {
    content: "\e903";
  }

body{
    margin: 0px;
    padding: 1em 3em;
    background: white;
}
                                        /* header */
.logo-container{
    background: rgb(81, 148, 61);
    border-bottom: 2px solid rgb(54, 99, 40);
    border-radius: .8em;
    width: 93%;
    /* max-width: 100%; */
    height: auto;
    text-align: center;
    position: fixed;
    
}
.logo{
    width: 80px;
    border: 1px solid;
    border-radius: 50%;
    /* display: flex; */
    margin-top: .5em;
    
}
.menu ol{
    display: flex;
    height: inherit; 
}
.menu a{
    display: flex;
    align-items: center;
    height: inherit;
    color: rgb(238, 182, 16);
    font-family: 'fondamento', 'cursive';
    text-decoration: none;
    font-size: 1.5em;
    margin-bottom: .8em;
}

ol,ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: space-around;
}
.link{
  transition: 1s ease;
}
.link.a:hover{ /* home */
  font-size: 2em;
}
.link.b:hover{/* nosotros */
  font-size: 2em;
}
.link.c:hover{/* productos */
  font-size: 2em;
}
.link.d:hover{/* promociones */
  font-size: 2em;
}
                                      /* content */
.container{
    margin-top: 9em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.item{
    display: flex;
    padding: .8em;
    width: 80%;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgb(214,214,214);
    justify-content: center;
    box-shadow: 9px 10px 15px 0px rgba(0,0,0,0.75);
}
.item img{
  width: 40%;
}
.parrafo{
  margin: 0px;
  padding: 1em;
}

                                        /* footer */
.footer{
    border-bottom: 2px solid rgb(124, 124, 124);
    border-radius: .8em;
    background: rgb(201,201,201);
    padding: 0px 1.5em;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer p{
    margin: 0px;
    font-family: 'fondamento', 'cursive';
}
.social .icon-instagram{
    font-size: 3em;
    text-decoration: none;
    color: black;
}
